asyncssh
requests
humanize
# Telethon Dependencies
Telethon==1.11.3
cryptg
pillow
# aiohttp
aiohttp[speedups]
# Additional dependencies for firmware building
lxml
xmltodict
py7zr
rarfile
# For firmware manipulation
python-magic
pycryptodome
# For progress tracking
tqdm
